.loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #18A874;
  border-radius: 20px;
  width:  80vw;
  height: 80vh;
  overflow: scroll;
}

.loginBox::-webkit-scrollbar {
  display: none;
}

.impassName {
  font-size: 42px;
}

.usernameInfo {
  display: flex;
  align-items: flex-end;
  gap: 5vw;
  height: fit-content;
}

.usernameInfo div {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 50%;
}

.usernameInfo p {
  width: fit-content;
}

.usernameField {
  color: #01422A;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  padding: 10px 30px;
  border-radius: 30px
}

.loginButton {
  height: fit-content;
  background-color: white;
  color: #01422A;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  padding: 10px 30px;
  border-radius: 30px
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vh;
  align-content: space-between;
}

.images img {
  width: 10vw;
  border-radius: 20px;
}

.images button {
  border-radius: 20px;
  border: none;
  background-color: transparent;
}